body {
    background: #222930;
    color: rgb(240, 255, 255);
    font-family: Arial;
}

#map {
    background-image: url("../img/map.png");

}

.city {
    position: relative;
    height: 50px;
    width: 50px;
    background-image: url("../img/interface.png");
    background-size: 100%;
}

.navbar {
    height: 120px;
    background-color: #fff;
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 2.5em;
}

.button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
